html {
	padding: 20px;
}
body {
	background-color: 9A6EFF;
	font-family: Garamond , "serif";
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
h1{
	font-size: 350%;
	text-align: center;
}
h2 {
	text-align: center;
	border-top: solid thin #000;
	border-bottom: solid thin #000;
	background-color: 051959;
	padding-top: 12px;
	padding-bottom: 10px;
	border-radius: 25px;
}
.year {
	float: right;
	width: 200px;
	text-align: right;
}
#address {
	height: 550px;
	float: left;
	width: 25%;
	vertical-align: bottom;
	border: solid 1px #000;
	padding: 5px;
	text-align: center;
	border-radius: 25px;
	background-color: 051959;
}
#content {
	float:right;
	width: 70%;
	vertical-align: bottom;
	padding: 5px;
}
footer {
	clear: both;
	text-align: center;
	vertical-align: bottom;
	padding: 5px;
	font-weight: bold; 
	border-style: solid;
	border-radius: 25px;
	width: 800px;
	margin: 40px auto 60px;
	background-color: 051959;
}
